<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/Trains</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="alegerd.trains.entities.RouteEntity"/>
    <mapping class="alegerd.trains.entities.StationEntity"/>
    <mapping class="alegerd.trains.entities.StationsOnRoutesEntity"/>
    <mapping class="alegerd.trains.entities.TimetableEntity"/>
    <mapping class="alegerd.trains.entities.TrainEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>